# Chapter 6: Mastering Pandas Dataframes: Analysis, Enrichment & Visualisation

### **Project Charter**

**Company Profile**

- **Name:** Alpine Lift & Leisure Ltd.
- **Business:** 70 years of excellence in installing, maintaining, and refurbishing skiing gondolas and chair lifts.
- **Headquarters:** Bern, Switzerland
- **Annual Revenue:** €650 million
- **Employee Count:** 250 global professionals
- **Offices:** Bern, with regional presence in Milan, Italy, and Innsbruck, Austria.

**Project Overview**

We stand as a testament to 70 years of commitment to safety and joy in the Alpine skiing industry. Now, we are on a quest to marry our rich legacy with the cutting-edge data science techniques.

Our project involves more than just numbers; it's about narrating our story, a story steeped in adventure and purity, echoed in the Alpine regions we service. This narrative seeks to illuminate the spirit of the Alps through a data-driven lens, turning insights into stories and numbers into experiences.

We invite you to be our data storyteller, guiding us through the immersive world of Pandas DataFrames. Be ready to dive deep into data analysis, visualization, and enrichment, bringing to life the operational facets of a company grounded in a rich heritage and forward-thinking vision.

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Load the dataset
df = pd.read_csv('data/raw/Ski_Resort_Lift_Data.csv')

# Display the first few rows of the dataframe
df.head()

,ID,Installation Date,Last Maintenance Date,Location,Region,Type of Lift,Manufacturer,Capacity,Operational Status,Total Rides,Revenue Generated,Maintenance Cost,Lift Height,Lift Length,Daily Ridership
0,1,1989-03-21 23:25:49,2002-05-18 23:25:49,St. Anton am Arlberg,Tyrol,Gondola,Doppelmayr,13,Operational,446232,2842659.55,452940.10,124,4184,1423
1,2,1989-03-26 12:32:57,1992-07-11 12:32:57,Kitzbühel,Tyrol,Chairlift,Leitner Ropeways,2,Under Maintenance,65088,4781132.98,127930.31,23,1199,419
2,3,2022-05-20 00:33:12,2034-11-27 00:33:12,Sölden,Tyrol,T-bar lift,Bartholet Maschinenbau AG,13,Operational,480563,2078863.70,791729.98,149,2372,3955
3,4,1983-12-18 17:38:28,1986-10-22 17:38:28,Ischgl,Tyrol,Magic carpet,BMF Bartholet,11,Operational,924080,2109815.13,439319.64,93,2262,184
4,5,1995-04-05 22:19:12,1999-08-15 22:19:12,Mayrhofen,Tyrol,Funicular,Garaventa,7,Operational,216570,533293.38,256662.21,145,758,2700